@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@200;300;400;500;600;700&display=swap');


* {
	font-family: 'IBM Plex Sans KR', sans-serif;
}
		
		
		#container {
			width:500px;
			margin:50px auto;
		}
		h1 {
			font-size:2.5em;
			text-align: center
		}
		form {
			margin-top:50px;			
		}
		input[type="text"] {
			float:left;
			width:300px;
			padding:12px;
			border:none;
			border-bottom:1px solid #ccc;
			font-size:20px;
		}

		input:focus {
			outline: none;
		}
		button {
			width:90px;
			border:1px solid rgb(7, 54, 149);
			border-radius:5px;
			padding:12px;	
			margin-left:65px;
			font-size:20px;
			background-color: rgb(83, 189, 255);
		}
		button:hover {
			background-color: rgb(60, 136, 244);
		}
		hr {
			clear:both;
			visibility: hidden;
		}
		#nameList > p {
			font-size:20px;
			text-indent:50px;
			line-height: 1.5;
		}
		.del {
			font-size:20px;
			text-align: center;
			color:#ccc;
			background:transparent;
			float:right;
			margin-right:10px;
		}
		.del:hover {
			color:#222;
			cursor: pointer;
		}
		.del:active {
			outline:0px;
		}