@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300;1,400&family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;1,100;1,200&display=swap');


*{font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;}


h1 {
    margin-left: 45px;
    color: rgb(244, 145, 216);
    text-shadow: 1px 1px 1px gray
}

body, html, #container {
    background-color: rgb(234, 230, 230);
}


#container {
    float: center;
}

ul li {
	clear:both;
}

ul {
    list-style:none;
}

#register { 
    float: left;
    color: grey;
    width: 400px;
    height: 20px;
}

div, p {
    box-shadow: white;
    text-shadow: 1px 1px 1px white;
}

li {
    width: 150px;
    margin: 10px;
}

#user-id, #email, #user-pw1, #user-pw2 {
    width: 300px; 
    height: 30px;
    background-color: rgb(234, 230, 230);
    border-color: rgb(248, 247, 248); 
    border-radius: 15px;
    text-shadow: 1px 1px 1px white;
    margin-bottom: 4px;
}

.btn {
    width: 300px; 
    height: 30px;
    background-color: rgb(234, 230, 230);
    border-color:rgb(248, 247, 248);
    border-radius: 15px; 
    color: black;
    text-shadow: 1px 1px white;
}